cf/processor.txt
{
   "Comment": "Example Process with parallel and ordering logic",
  "StartAt": "CaptureAndCorrelate",
  "States": {
    "CaptureAndCorrelate": {
      "Type": "Task",
      "Resource" : "arn:aws:lambda:ap-northeast-1:970386504547:function:CaptureAndCorrelate",
      "Next": "ArchiveAndProcess"
    },
    "ArchiveAndProcess": {
      "Type": "Parallel",
      "Next": "Final State",
      "Branches": [
        {
          "StartAt": "DetermineProcessor",
          "States": {
            "DetermineProcessor": {
              "Type": "Task",
              "Next": "ChooseProcessing",
              "Resource": "arn:aws:lambda:ap-northeast-1:970386504547:function:DetermineProcessor"
            },

            "ChooseProcessing": {
              "Type": "Choice",
              "Choices": [
                  {
                    "Variable": "$.processingType",
                    "StringEquals": "OrderedProcessor",
                    "Next": "OrderedProcessor"
                  },
                  {
                    "Variable": "$.processingType",
                    "StringEquals": "LowLatency",
                    "Next": "LowLatency"
                  },
                  {
                    "Variable": "$.processingType",
                    "StringEquals": "Dispatch",
                    "Next": "Dispatch"
                  }
              ]
            }, 
            "OrderedProcessor": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-1:970386504547:function:OrderedProcessor",
              "End": true
            },
            "LowLatency": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-1:970386504547:function:LowLatencyProcessor",
              "End": true
            },
            "Dispatch": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-1:970386504547:function:Dispatchor",
              "End": true
            }
          }
        },
        {
          "StartAt": "Archive",
          "States": {
            "Archive": {
              "Type": "Task",
               "Resource": "arn:aws:lambda:ap-northeast-1:970386504547:function:ArchiveAndMeta",
              "End": true
            }
          }
        }
      ]
    },
    "Final State": {
      "Type": "Pass",
      "End": true
    }
  }
}
